<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionContacts</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newContact</display-name>
    <servlet-name>newContact</servlet-name>
    <servlet-class>servlets.newContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newContact</servlet-name>
    <url-pattern>/newContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteContact</display-name>
    <servlet-name>deleteContact</servlet-name>
    <servlet-class>servlets.deleteContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteContact</servlet-name>
    <url-pattern>/deleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searcheContact</display-name>
    <servlet-name>searcheContact</servlet-name>
    <servlet-class>servlets.searcheContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searcheContact</servlet-name>
    <url-pattern>/searcheContact</url-pattern>
  </servlet-mapping>
</web-app>